mixin tile(label, image, videoUrl)
  if videoUrl
    a.card.ml-2.mr-2.mb-5(href=videoUrl target="_blank" class!=attributes.class)
      img.card-img-top(src='images/'+image alt="skill demonstration" width="200" height="200")
      .card-body
        p.card-text.text-center= label
  else
    .card.ml-2.mr-2.mb-5(class!=attributes.class)
      img.card-img-top(src='images/'+image alt="skill demonstration" width="180" height="180")
      .card-body
        p.card-text.text-center= label

doctype html
html(lang="en")
  head
    title Splash Skill Sequence
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="http://www.splashfoundation.org/assets/favicon.png")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="splash.css")

  body.format-progression
    nav.navbar.navbar-dark.fixed-top.bg-dark
      .btn-toolbar.mt-2(role="toolbar" aria-label="Toolbar with button groups")
        .input-group.mr-2.mb-2
          select.form-control#format-selector
            option(value="format-progression") Skill Progression
            option(value="format-lesson" disabled) Lesson Plans

        .btn-group.mr-2.mb-2(role="group" aria-label="Week of Session")
          button.btn.btn-outline-primary(type="button") Week 1
          button.btn.btn-outline-primary(type="button") 2
          button.btn.btn-outline-primary(type="button") 3
          button.btn.btn-outline-primary(type="button") 4
          button.btn.btn-outline-primary(type="button") 5
          button.btn.btn-outline-primary(type="button") 6
          button.btn.btn-outline-primary(type="button") 7
          button.btn.btn-primary(type="button") All

        .btn-group.mr-2.mb-2(role="group" aria-label="Student Groups")
          button.btn.btn-outline-info(type="button") Group 1
          button.btn.btn-outline-info(type="button") 2
          button.btn.btn-info(type="button") 3

    //- https://www.youtube.com/playlist?list=PLtsHor-YCc9oogKwIpRTzEiDW8oJeur9G
    main.container(role="main")
      p.text-center
        small
          | Find the full sequence of Splash Swim Skills Instructional Videos
          a(href="https://www.youtube.com/playlist?list=PLtsHor-YCc9oogKwIpRTzEiDW8oJeur9G")  in this YouTube playlist.
      h1 Breath, Buoyancy, and Water Comfort
      h2 Familiarization
      h3.basic Pool Surroundings
      .row
        +tile('Hazards', 'placeholder.png')(class='w1')
        +tile('Changes in Terrain', 'placeholder.png')(class='w1')
        +tile('Slipping', 'placeholder.png')(class='w1')
      h3.basic Water / Pool Properties
      .row
        +tile('Temperature', '02-temperature.jpg')(class='w1')
        +tile('Depth', '02-depth.jpg')(class='w1')
        +tile('Wall, Gutter, Drain', '02-wall.jpg')(class='w1')
        +tile('Lane Lines', '02-lanelines.jpg')(class='w1')
      h3.basic Safety Devices / Help
      .row
        +tile('Floats', '03-floats.jpg')(class='w1')
        +tile('Lifeguards', '03-lifeguards.jpg')(class='w1')
        +tile('Ladders', '03-ladders.jpg')(class='w1')
      h2 Entry/Exit
      p Progress from the shallow end, to mid-pool, to the deep end.
      h3.basic
        | Entry
        a.ml-1(href="https://youtu.be/R40r7pcvZhE" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Sit', '04-sit.jpg')(class='w1 w2 w3')
        +tile('Lay', '04-lay.jpg')(class='w1 w2 w3')
        +tile('Slide', '04-slide.jpg')(class='w1 w2 w3')
        +tile('Jump Down', '04-jumpdown.jpg')(class='w1 w2 w3')
      h3.basic
        | Exit
        a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=15s" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Pull Up', '05-pullup.jpg')(class='w1')
        +tile('Lean Forward', '05-lean.jpg')(class='w1')
        +tile('Knee Out', '05-knee.jpg')(class='w1')
        +tile('Push Up', '05-pushup.jpg')(class='w1')
      h2 Breath Control
      .row
        .col
          h3.tested
            | Hold Breath
            a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=40s" target="_blank")
              i.fa.fa-youtube-play
          .row
            +tile('Sip Air, Close Mouth', '06-sip.jpg')(class='w1')
        .col
          h3.tested
            | Nose Bubbles
            a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=1m19s" target="_blank")
              i.fa.fa-youtube-play
          .row
            +tile('Humming', '06-humming.jpg')(class='w2')
      h2 Submersions
      p Progress from holding breath to nose bubbles – differentiate when to use.
      h3.tested
        | Feet First
        a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=38s" target="_blank")
          i.fa.fa-youtube-play
      p Progress from shallow end, to mid-pool, to deep end.
      .row
        +tile('Mouth - Nose - Head', '07-head.jpg')(class='')
        +tile('Surface Bob (Leg Lift)', '07-bob.jpg')(class='')
        +tile('Sink Down*', '07-sink.jpg')(class='')
        +tile('Assisted Step In**', '07-assisted.jpg')(class='')
      p
        small *progress to wall-assisted vertical kick then kick up to surface in deep-end
      p
        small **progress shallow, platform mid-pool, deep-end
      h3.tested
        | Head First
        a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=1m36s" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Hoop', '08-hoop.jpg')(class='')
        +tile('Duck Dives', '08-duckdives.jpg')(class='')
        +tile('Dolphins / Retrievals', '08-dolphins.jpg')(class='')
      h2 Feel for the Water
      h3.basic
        | Hand movements – Sculling (Standing Only)
        a.ml-1(href="https://youtu.be/hlv5DGXA1bw" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Push Down', '09-push.jpg')(class='')
        +tile('Scoop Up', '09-scoop.jpg')(class='')
        +tile('Side Sweep to Feet', '09-sweep.jpg')(class='')
        +tile('Circles', '09-circles.jpg')(class='')
      h2 Standing Up
      p Progress from wall-assist, coach-assist, independent.
      h3.tested
        | From Front Float
        a.ml-1(href="https://youtu.be/hlv5DGXA1bw?t=57s" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Knees In', '10-kneesin.jpg')(class='')
        +tile('Push Down', '10-pushdown.jpg')(class='')
        +tile('Look at Feet', '10-lookfeet.jpg')(class='')
        +tile('Lift Head', '10-lifthead.jpg')(class='')
      h3.tested
        | From Back Float
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Knees In', '11-kneesin.jpg')(class='')
        +tile('Curl Stomach', '11-curl.jpg')(class='')
        +tile('Scoop Up', '11-scoop.jpg')(class='')
        +tile('Look at Feet', '11-lookfeet.jpg')(class='')

      h1 Floats and Propulsion
      h2 Front Float and Forward Movement
      p Return to standing from each position.
      h3.basic
        | Assisted Superman
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Hold On, Extend, Look Down', '12-holdon.jpg')(class='')
        +tile('???', '12-2.jpg')(class='')
      h3.tested
        | Jellyfish
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Hang Like a Cat', 'placeholder.png')(class='')
        +tile('Extend into Superman', 'placeholder.png')(class='')
      h3.tested
        | Superman Glide
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Jump', 'placeholder.png')(class='')
        +tile('Push from Wall', '14-push.jpg')(class='')
        +tile('Add Light Kick*', '14-kick.jpg')(class='')
      p
        small *long legs, narrow gap, small and quick feet
      h2 Back Float and Backward Movement
      p Return to standing from each position.
      h3.tested
        | Back Float
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Wall-Assisted', 'placeholder.png')(class='')
        +tile('Lay back', '15-lay.jpg')(class='')
        +tile('Extended', '15-extended.jpg')(class='')
        +tile('Push from wall', '15-push.jpg')(class='')
        +tile('Submerge & surface (shallow)', '15-submergeshallow.jpg')(class='')
        +tile('Submerge & surface (deep)', '15-submergedeep.jpg')(class='')
        +tile('Step-in & surface (shallow)', '15-stepshallow.jpg')(class='')
        +tile('Step-in & surface (deep)', '15-stepdeep.jpg')(class='')
      p
        small *progress to wall-assisted vertical kick then kick up to surface in deep-end
      p
        small **progress shallow, platform mid-pool, deep-end
      h3.tested
        | Backward Movement
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Side Sweep to Feet', '16-sweep.jpg')(class='')
      h2 Back Float to Front Float
      h3.tested
        | Roll from Back to Front
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Back Float', '17-float.jpg')(class='')
        +tile('Eyes, Shoulder, Hip Roll Over', '17-roll.jpg')(class='')
        +tile('Nose Bubbles', '17-bubbles.jpg')(class='')
        +tile('Extend into Superman', '17-superman.jpg')(class='')

      h1 Rotations and Freestyle Progression
      h2 Arm Movement
      h3.basic
        | Hand Entry
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Spear', '18-spear.jpg')(class='')
        +tile('Spear (alternate view)', '18-spearalt.jpg')(class='')
        +tile('Superman', '18-superman.jpg')(class='')
      h3.basic
        | Arm Stroke
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Superman', '19-superman.jpg')(class='')
        +tile('Warrior', '19-warrior.jpg')(class='')
      h2 Freestyle Progression
      p Start with roll-to-breathe on the dominant side only.
      h3.tested
        | Warrior Roll
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Superman', '19-superman.jpg')(class='')
        +tile('Warrior', '19-warrior.jpg')(class='')
        +tile('Roll to Breathe', '20-roll.jpg')(class='')
        +tile('Float to Breathe', '20-float.jpg')(class='')
      h3.basic
        | Single-Arm Superman
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Superman', 'placeholder.png')(class='')
        +tile('Warrior', 'placeholder.png')(class='')
        +tile('Spear to Superman', 'placeholder.png')(class='')
      h3.basic
        | Catch-Up
        small (breathe every 2)
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Superman', 'placeholder.png')(class='')
        +tile('Warrior', 'placeholder.png')(class='')
        +tile('Spear to Superman', 'placeholder.png')(class='')
        +tile('Opposite Arm Stroke', 'placeholder.png')(class='')
      h3.basic
        | Catch-Up
        small (breathe every 4)
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Superman', 'placeholder.png')(class='')
        +tile('Warrior', 'placeholder.png')(class='')
        +tile('Spear to Superman', 'placeholder.png')(class='')
        +tile('Opposite Arm Stroke', 'placeholder.png')(class='')
      h3.advanced
        | Weak-Side Roll-to-Breathe Only
        small (breathe every 4)
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Warrior Roll', 'placeholder.png')(class='')
        +tile('Single-Arm Superman', 'placeholder.png')(class='')
        +tile('Catch-Up (every 2)', 'placeholder.png')(class='')
        +tile('Catch-Up (every 4)', 'placeholder.png')(class='')
      h3.expert
        | Freestyle with Bilateral Breathing
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      p Breathe every 3 strokes.
      .row
        +tile('Catch-Up', 'placeholder.png')(class='')
        +tile('¾ Catch-Up*', 'placeholder.png')(class='')
      p
        small *continuous arm movement

      h1 Rotations and Backstroke Progression
      h2 Body Position and Balance
      h3.expert
        | Back Rotations
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Right Side Tilt*', 'placeholder.png')(class='')
        +tile('Left Side Tilt*', 'placeholder.png')(class='')
        +tile('Side to side rotations, 1-2-3 timing', 'placeholder.png')(class='')
      p
        small *head still, shoulder/hip slightly above water
      h2 Arm Movement
      h3.expert
        | Arm Strokes
        a.ml-1(href="" target="_blank")
          i.fa.fa-youtube-play
      .row
        +tile('Warrior on Back', 'placeholder.png')(class='')
        +tile('1-Stroke Switch', 'placeholder.png')(class='')
        +tile('Continuous Strokes (Backstroke)', 'placeholder.png')(class='')

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="splash.js")
