mixin tile(label, image, videoUrl)
  if videoUrl
    a.card.ml-2.mr-2.mb-2(href=videoUrl target="_blank" class!=attributes.class)
      img.card-img-top(src='images/'+image alt="skill demonstration" width="200" height="200")
      .card-body
        p.card-text.text-center= label
  else
    .card.ml-2.mr-2.mb-2(class!=attributes.class)
      img.card-img-top(src='images/'+image alt="skill demonstration" width="180" height="180")
      .card-body
        p.card-text.text-center= label

doctype html
html(lang="en")
  head
    title Splash Skill Sequence
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="http://www.splashfoundation.org/assets/favicon.png")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="splash.css")

  body(data-format="progression" data-week="full" data-group="3")
    nav.navbar.navbar-dark.fixed-top.bg-dark
      .btn-toolbar.mt-2(role="toolbar" aria-label="Toolbar with button groups")
        .input-group.mr-2.mb-2
          select.form-control#format-selector
            option(value="format-progression") Skill Progression
            option(value="format-lesson" disabled) Lesson Plans

        #weeks.btn-group.mr-2.mb-2(role="group" aria-label="Week of Session")
          button.btn.btn-outline-primary(type="button" data-week="1") Week 1
          button.btn.btn-outline-primary(type="button" data-week="2") 2
          button.btn.btn-outline-primary(type="button" data-week="3") 3
          button.btn.btn-outline-primary(type="button" data-week="4") 4
          button.btn.btn-outline-primary(type="button" data-week="5") 5
          button.btn.btn-outline-primary(type="button" data-week="6") 6
          button.btn.btn-outline-primary(type="button" data-week="7") 7
          button.btn.btn-outline-primary(type="button" data-week="full") All

        #groups.btn-group.mr-2.mb-2(role="group" aria-label="Student Groups")
          button.btn.btn-outline-info(type="button" data-group="1") Group 1
          button.btn.btn-outline-info(type="button" data-group="2") 2
          button.btn.btn-outline-info(type="button" data-group="3") 3

    main.container(role="main")
      p.text-center
        small
          | Find the full sequence of Splash Swim Skills Instructional Videos
          a(href="https://www.youtube.com/playlist?list=PLtsHor-YCc9oogKwIpRTzEiDW8oJeur9G")  in this YouTube playlist.
      h1 Breath, Buoyancy, and Water Comfort
      h2 Familiarization
      .row.mb-5.w1
        h3.basic Pool Surroundings
        +tile('Hazards', '01-hazards.jpg')
        +tile('Changes in Terrain', '01-terrain.jpg')
        +tile('Slipping', '01-slipping.jpg')
      .row.mb-5.w1
        h3.basic Water / Pool Properties
        +tile('Temperature', '02-temperature.jpg')
        +tile('Depth', '02-depth.jpg')
        +tile('Wall, Gutter, Drain', '02-wall.jpg')
        +tile('Lane Lines', '02-lanelines.jpg')
      .row.mb-5.w1
        h3.basic Safety Devices / Help
        +tile('Floats', '03-floats.jpg')
        +tile('Lifeguards', '03-lifeguards.jpg')
        +tile('Ladders', '03-ladders.jpg')
      h2 Entry/Exit
      p Progress from the shallow end, to mid-pool, to the deep end.
      .row.mb-5.w1.w2.w3
        h3.basic
          | Entry
          a.ml-1(href="https://youtu.be/R40r7pcvZhE" target="_blank")
            i.fa.fa-youtube-play
        +tile('Sit', '04-sit.jpg')(class='w1 w2 w3')
        +tile('Lay', '04-lay.jpg')(class='w1 w2 w3')
        +tile('Slide-in', '04-slide.jpg')(class='w1 w2 w3')
        +tile('Slow, Controlled Entry', '04-jumpdown.jpg')(class='w1 w2 w3')
      .row.mb-5.w1
        h3.basic
          | Exit
          a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=15s" target="_blank")
            i.fa.fa-youtube-play
        +tile('Pull Up', '05-pullup.jpg')(class='w1')
        +tile('Lean Forward', '05-lean.jpg')(class='w1')
        +tile('Knee Out', '05-knee.jpg')(class='w1')
        +tile('Push Up', '05-pushup.jpg')(class='w1')

      h2 Submersions
      p Progress from holding breath to nose bubbles – differentiate when to use.
      .row.mb-5
        h3.tested
          | Breath Control
          a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=40s" target="_blank")
            i.fa.fa-youtube-play
        +tile('Sip Air, Close Mouth', '06-sip.jpg')(class='w1')
        +tile('Mouth Bubbles', '06-mouth.jpg')(class='w2')
        +tile('Nose Bubbles (Humming)', '06-humming.jpg')(class='w2')
      .row.mb-5.w1.w2.w3
        h3.tested
          | Feet First
          a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=38s" target="_blank")
            i.fa.fa-youtube-play
        p Progress from shallow end, to mid-pool, to deep end.
        +tile('Mouth - Nose - Head', '07-head.jpg')(class='w1 w2')
        +tile('Sink Down', '07-sink.jpg')(class='w1 w2')
        +tile('Assisted Slide-in', '07-assisted-slide.jpg')(class='w3')
        +tile('Assisted Step-in', '07-assisted-step.jpg')(class='w3')
        +tile('Submerge & surface (shallow)', '07-submergeshallow.jpg')
        +tile('Submerge & surface (deep)', '07-submergedeep.jpg')
        +tile('Step-in & surface (shallow)', '07-stepshallow.jpg')
        +tile('Step-in & surface (deep)', '07-stepdeep.jpg')
      .row.mb-5.w3g2.w3g3.w4g1.w4g3.w5g2.w5g3
        h3.tested
          | Head First
          a.ml-1(href="https://youtu.be/R40r7pcvZhE?t=1m36s" target="_blank")
            i.fa.fa-youtube-play
        +tile('Surface Dive', '08-hoop.jpg')(class='w3g2 w3g3 w4g1')
        +tile('Duck Dive', '08-duckdives.jpg')(class='w4g3 w5g2 w7g1')
        +tile('Dolphins / Retrievals', '08-dolphins.jpg')(class='w5g3 w7g2 w8g1')
      h2 Sculling (Feel for the Water)
      .row.mb-5
        h3.basic
          | Hand Movements (Standing/Vertical)
          a.ml-1(href="https://youtu.be/hlv5DGXA1bw" target="_blank")
            i.fa.fa-youtube-play
        +tile('Push Down', '09-push.jpg')
        +tile('Scoop Up', '09-scoop.jpg')
        +tile('Chicken/Bird/Soldier', '09-sweep.jpg')
        +tile('Circles', '09-circles.jpg')
      h2 Standing Up
      .row.mb-5
        h3.tested
          | From Front Float
          a.ml-1(href="https://youtu.be/hlv5DGXA1bw?t=57s" target="_blank")
            i.fa.fa-youtube-play
        +tile('Knees In', '10-kneesin.jpg')
        +tile('Push Down', '10-pushdown.jpg')
        +tile('Feet Down', '10-lookfeet.jpg')
        +tile('Lift Head', '10-lifthead.jpg')
      .row.mb-5
        h3.tested
          | From Back Float
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Knees In', '11-kneesin.jpg')
        +tile('Curl Stomach', '11-curl.jpg')
        +tile('Scoop Up', '11-scoop.jpg')
        +tile('Look at Feet', '11-lookfeet.jpg')

      h1 Floats and Propulsion
      h2 Front Float and Forward Movement
      .row.mb-5
        h3.basic
          | Assisted Superwoman
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Hold On, Extend, Look Down', '12-holdon.jpg')
        +tile('???', '12-2.jpg')
      .row.mb-5
        h3.tested
          | Jellyfish
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Hang Like a Cat', '13-hanglikecat.jpg')
        +tile('Extend into Superwoman', '13-extend.jpg')
      .row.mb-5
        h3.tested
          | Superwoman Glide
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Push from Floor', '14-pushfromfloor.jpg')
        +tile('Push from Wall', '14-pushfromwall.jpg')
        +tile('Add Light Kick*', '14-kick.jpg')
        p
          small *long legs, narrow gap, small and quick feet
      h2 Back Float and Backward Movement
      p Return to standing from each position.
      .row.mb-5
        h3.tested
          | Back Float
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Wall-Assisted', '15-wallassisted.jpg')
        +tile('Lay back', '15-lay.jpg')
        +tile('Push from Floor', '15-extended.jpg')
        +tile('Push from wall', '15-push.jpg')
      .row.mb-5
        h3.tested
          | Backward Movement
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Chicken/Bird/Soldier', '16-sweep.jpg')
      h2 Back Float to Front Float
      .row.mb-5
        h3.tested
          | Roll from Back to Front
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Back Float', '17-float.jpg')
        +tile('Eyes, Shoulder, Hip Roll Over', '17-roll.jpg')
        +tile('Nose Bubbles', '17-bubbles.jpg')
        +tile('Extend into Superwoman', '17-superman.jpg')

      h1 Rotations and Freestyle Progression
      h2 Arm Movement
      .row.mb-5
        h3.basic
          | Arm Stroke
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Superwoman', '19-superman.jpg')
        +tile('Warrior', '19-warrior.jpg')
      .row.mb-5
        h3.basic
          | Hand Entry
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Spear', '18-spear.jpg')
        +tile('Superwoman', '18-superman.jpg')
        +tile('Spear (alternate view)', '18-spearalt.jpg')
      .row.mb-5
        h3.basic
          | Arm Strokes, No Breath
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('4 to 6 times', '20-strokes.jpg')
      h2 Freestyle Progression
      p Start with roll-to-breathe on the dominant side only.
      .row.mb-5
        h3.tested
          | Warrior Roll
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Superwoman', '21-superman.jpg')
        +tile('Warrior', '21-warrior.jpg')
        +tile('Roll to Breathe', '21-roll.jpg')
      .row.mb-5
        h3.basic
          | Single-Arm Superwoman
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Superwoman', '21-superman.jpg')
        +tile('Warrior', '22-warrior.jpg')
        +tile('Spear to Superwoman', '22-spear.jpg')
      .row.mb-5
        h3.basic
          | Catch-Up
          small (breathe every 2, then every 4)
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Superwoman', '21-superman.jpg')
        +tile('Warrior Roll', '22-warrior.jpg')
        +tile('Spear to Superwoman', '22-spear.jpg')
        +tile('Opposite Arm Stroke', '23-opposite.jpg')
      .row.mb-5
        h3.basic
          | ¾ Catch-Up
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('¾ Catch-Up*', '26-threequarters.jpg')
        p
          small *continuous arm movement
      .row.mb-5
        h3.advanced
          | Weak-Side Roll-to-Breathe Only
          small (breathe every 4)
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Warrior Roll', '25-warrior.jpg')
        +tile('Single-Arm Superwoman', '25-singlesuperman.jpg')
        +tile('Catch-Up (every 2)', '25-catchup.jpg')
        +tile('¾ Catch-Up (every 4)', '24-fourstrokes.jpg')
      .row.mb-5
        h3.expert
          | Freestyle with Bilateral Breathing
          small (breathe every 3 strokes)
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        p Breathe every 3 strokes.
        +tile('Catch-Up', '26-catchup.jpg')
        +tile('¾ Catch-Up*', '26-threequarters.jpg')
        p
          small *continuous arm movement

      h1 Rotations and Backstroke Progression
      h2 Body Position and Balance
      .row.mb-5
        h3.expert
          | Back Rotations
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Right Side Tilt*', '27-righttilt.jpg')
        +tile('Left Side Tilt*', '27-lefttilt.jpg')
        +tile('Side to side rotations, 1-2-3 timing', '27-123rotations.jpg')
        p
          small *head still, shoulder/hip slightly above water
      h2 Arm Movement
      .row.mb-5
        h3.expert
          | Arm Strokes
          a.ml-1(href="" target="_blank")
            i.fa.fa-youtube-play
        +tile('Warrior on Back', '28-warrior.jpg')
        +tile('1-Stroke Switch', '28-switch.jpg')
        +tile('Continuous Strokes (Backstroke)', '28-continuous.jpg')

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="splash.js")
