body {
  padding-top: 4.3rem;
}

h1, h2, h3 {
  padding: 0.2em 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
}

h2 {
  color: white;
  background-color: #666666;
  padding-left: 0.2em;
}

h3 {
  font-style: italic;
  font-size: 1.4em;
}

h3 i.fa-youtube-play {
  color: red;
}

h3.basic:after {
  content: 'Basic';
  float: right;
  color: green;
  font-weight: normal;
  font-style: normal;
}

h3.tested:after {
  content: 'Tested';
  float: right;
  color: blue;
  font-weight: normal;
  font-style: normal;
}

img.card-img-top {
  width: 180px;
  object-fit: cover;
}

.card-body {
  width: 180px;
  color: black;
  padding: .5rem;
}

a.card:hover {
  text-decoration: none;
}
