body {
  padding-top: 4.3rem;
}

h1, h2, h3 {
  padding: 0.2em 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
}

h2 {
  color: white;
  background-color: #666666;
  padding-left: 0.2em;
}

h3 {
  width: 100%;
  font-style: italic;
  font-size: 1.4em;
}

h3 i.fa-youtube-play {
  color: red;
}

h3.basic:after {
  content: 'Basic';
  float: right;
  color: green;
  font-weight: normal;
  font-style: normal;
}

h3.tested:after {
  content: 'Tested';
  float: right;
  color: blue;
  font-weight: normal;
  font-style: normal;
}

img.card-img-top {
  width: 180px;
  object-fit: cover;
}

.card-body {
  width: 180px;
  color: black;
  padding: .5rem;
}

a.card:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  width: 100%;
}

p small {
  margin-left: 0.5rem;
}

button {
  cursor: pointer;
}

body[data-week="1"] button[data-week="1"],
body[data-week="2"] button[data-week="2"],
body[data-week="3"] button[data-week="3"],
body[data-week="4"] button[data-week="4"],
body[data-week="5"] button[data-week="5"],
body[data-week="6"] button[data-week="6"],
body[data-week="7"] button[data-week="7"],
body[data-week="8"] button[data-week="8"],
body[data-week="9"] button[data-week="9"],
body[data-week="10"] button[data-week="10"],
body[data-week="11"] button[data-week="11"],
body[data-week="12"] button[data-week="12"],
body[data-week="full"] button[data-week="full"] {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

body[data-group="1"] button[data-group="1"],
body[data-group="2"] button[data-group="2"],
body[data-group="3"] button[data-group="3"] {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.row {
  display: none;
  padding: 0 1rem;
}

body[data-week="1"] .row.w1,
body[data-week="2"] .row.w2,
body[data-week="3"] .row.w3,
body[data-week="4"] .row.w4,
body[data-week="5"] .row.w5,
body[data-week="6"] .row.w6,
body[data-week="7"] .row.w7,
body[data-week="8"] .row.w8,
body[data-week="9"] .row.w9,
body[data-week="10"] .row.w10,
body[data-week="11"] .row.w11,
body[data-week="12"] .row.w12,
body[data-week="full"] .row.w1,
body[data-week="full"] .row.w2,
body[data-week="full"] .row.w3,
body[data-week="full"] .row.w4,
body[data-week="full"] .row.w5,
body[data-week="full"] .row.w6,
body[data-week="full"] .row.w7,
body[data-week="full"] .row.w8 {
  display: flex;
}
