body {
  padding-top: 4.3rem;
}

h1, h2, h3 {
  padding: 0.2em 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
}

h2 {
  color: white;
  background-color: #666666;
  padding-left: 0.2em;
}

h3 {
  font-style: italic;
  font-size: 1.4em;
}

img.card-img-top {
  width: 200px;
}

.card-body {
  color: black;
  padding: .5rem;
}

a.card:hover {
  text-decoration: none;
}
